.ingredient-image, .ingredient-main-data{
    display: flex;
    width: 50vw;
    justify-content: center;
}
h1 {
    align-content: center;
}
#ingredient-container {
    width: 100vw;
    background-color: white;
}

.ingredientsInfos {
    display: Flex;
    flex-direction: column;
    align-items: center center;
    justify-content: space-around;
    border: 1px black solid;
    border-radius: 10px; 
    margin: 10px;
    text-align: right;
}

.ingredientsInfos td, th {
    border-radius: 10px; 
    font-size: 0.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.ingredientsInfos tr:nth-child(odd){
    background-color: rgb(220,220,220);
}

.ingredientsInfos tr:nth-child(even){
    background-color: rgba(220,220,220,0.5);
}