<form>
    <div id="ingredient-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle fxFlexAlign="reverse" [color]="'primary'" [checked]="isEditable" (change)="toggleEditSlide($event)">
            Debug - Mode Edition : {{isEditable}}
        </mat-slide-toggle>

        <section #mainData fxLayout="row">
            <img display="block" class="ingredient-image" src="./assets/img/{{ingredient.urlImage}}" width="25%" height="25%" />
            <div class="ingredient-main-data" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="{{(isEditable?'Name':'')}}" [(ngModel)]="ingredient.name" [disabled]="!isEditable" name="Name"
                    />

                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="{{(isEditable?'Category':'')}}" (selectionChange)="setCategoryFromSelector($event)" [value]="ingredient.categorie.id"
                        [disabled]="!isEditable">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
        </section>
        <section #detailedData fxLayout="row" fxLayoutAlign="start start">
            <div class="ingredientsInfos">
                <table>
                    <tr>
                        <th>Valeur Calorique</th>
                        <td>{{ingredient.energy}} Kcal</td>
                    </tr>
                    <tr>
                        <th>Lipides</th>
                        <td>{{ingredient.lipid}} g/100g</td>
                    </tr>
                    <tr>
                        <th>Glucides</th>
                        <td>{{ingredient.glucid}} g/100g</td>
                    </tr>
                    <tr>
                        <th>Protéines</th>
                        <td>{{ingredient.protein}} g/100g</td>
                    </tr>
                    <tr>
                        <th>Sucres</th>
                        <td>{{ingredient.sugar}} g/100g</td>
                    </tr>
                    <tr>
                        <th>Fibres</th>
                        <td>{{ingredient.fiber}} g/100g</td>
                    </tr>
                    <tr>
                        <th>Sel</th>
                        <td>{{ingredient.salt}} g/100g</td>
                    </tr>
                </table>
            </div>
        </section>
        <section fxLayout="row" fxLayoutAlign="center start">
            <button (click)="checkIngredient($event)">Check Ingredient</button>

        </section>
    </div>
</form>