.ingredientCard {
    display: Flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px black solid;
    width: 100vw !important;
    padding-left: 4px;
    padding-right:10px;
    
}

.cardElm {
    border: 1px green solid;
}

.ingredientQty {
    width: 4em;
}