.preparationCard {
    display: Flex;
    flex-direction: column;
    align-items: center center;
    justify-content: space-around;
    border: 1px black solid;
    width: 85%vw !important;
    padding-left: 4px;
    padding-right:4px;
    
}

.preparationInfos {
    display: Flex;
    flex-direction: column;
    align-items: center center;
    justify-content: space-around;
    border: 1px black solid;
    border-radius: 10px; 
    padding: 5px;
    margin: 10px;
    width: 200px!important;
    
}

.preparationCard h4 {
    text-align: center;
}

.ingredientCard {
    display: Flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px black solid;
}

.ingredientQty {
    width: 4em;
    text-align: right;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}