<p>
  TODO search by autocompletion
</p>

<!-- ***********************************
  Display filters of list of ingredients
  *************************************-->
  <section>
    <mat-form-field>
      <mat-select placeholder="filtres" (selectionChange)="setFilterFromSelector($event)" [value]="filterSelected">
        <mat-option *ngFor="let category of filters" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <!-- *********************************
    display list of ingredients
    ***********************************-->
    <!-- Display list of ingredients -->
    <div [ngSwitch]="filterSelected">
      <section  *ngSwitchDefault="">
        <article *ngFor="let ingredient of ingredients">
          <a [routerLink]="'/ingredient/'+ingredient.id">
            <img [src]="'../../assets/img/'+ingredient.urlImage" width="50px;"/>{{ingredient.name}}
          </a>
          <button (click)="moveIngredientInPreparationList(ingredient)">{{selectedIngredients.includes(ingredient)? 'remove' : 'add'}}</button>
          <!-- TODO Button to remove an ingredient ONLY when user is owner of it -->
          <!--<button>X</button>-->
        </article>
      </section>

      <!-- Display list of categories -->
      <section *ngSwitchCase="'categories'">
        <article *ngFor="let cat of listCategories">
          <a href="#" (click)="selectedCategory(cat.id, $event)">{{cat.name}}</a>
        </article>
      </section>
    </div>

    <div>
      CONTROL DEBUG LIST PREPARATION<br/>
      <div *ngFor="let ing of selectedIngredients">| {{ing.name}} |</div>
    </div>
    <div>
        CONTROL DEBUG DISPLAY CATEGORIE<br/>
        <div *ngFor="let cat of listCategories">| {{cat.name}} |</div>
      </div>
      <div>
          CONTROL DEBUG DISPLAY FILTRE SELECTIONNE<br/>
          <div>{{filterSelected}}</div>
        </div>

    <!--*******************
      Display actions buttons
      ********************-->

      <!-- to display preparation details -->
      <section>
        <button mat-raised-button="displayPreparation" [color]="'primary'" [routerLink]="'/preparation'" (click)="loadListIngredients(selectedIngredients)">Visualiser la préparation</button>
      </section>

      <!-- to back before -->
      <section>
        <button mat-raised-button="back" [color]="'primary'" >Précédent</button>
      </section>

      <!-- to create an ingredient -->
      <section>
        <button mat-raised-button="createIngredient" [color]="'primary'" [routerLink]="'/ingredient'">créér un ingredient</button>
      </section>
