#food {
  background: url(../../../assets/img/fond.jpg) no-repeat center, white;
  background-size: 100vh;
  display: flex;
  flex-direction: column;
  height: 94vh;
}

#displayList {
  overflow: auto;
  height: 100vh;
}

#filters {
  background: white;
  padding: 5px 10px 0px 10px;
}

#buttons {
  background: white;
  height: 75px;
}

.normal, .remove {
  background: whitesmoke;
  opacity: 0.8;
  margin: 0px 5px;
  font-size: 1.2em;
  height: auto;
  padding:3px 0px;
}

.remove {
  background: silver;
}

.remove:hover, .normal:hover {
  background: grey;
}

#displayList a {
  margin: 0px 3px;
  width: 100%;
}

#displayList img {
  padding: 0px;
  margin: 0px;
}

#displayList mat-icon {
  height: 30px;
  width:30px;
  font-size: 30px;
  padding:0px;
  margin: 0px 3px;
}

app-preparation, app-ingredient {
  display:none;
}

@media screen and (orientation: portrait) {
  #filters mat-form-field {
    width: 100%;
    font-size: 1.2em;
  }
}

@media screen and (orientation: landscape) {
  #filters mat-form-field {
    width: 48%;
    font-size: 0.80em;
    padding: 0px 2% 0px 0px;
  }
}

.noDetails {
  display: none;
}

.littleScreen {
  grid-column: 2;
  grid-row: 1;
}

.bigScreen {
  grid-column: 2;
  grid-row: 1 / span 2;
}

@media screen and (min-width: 1024px) {
  #linkPreparation {
    display: none;
  }

  #bodyFood {
    display: grid;
    grid-template: 60% 40% / 2fr 1fr;
    width:100%;
    height: 94vh;
  }

  #food {
    grid-column: 1 / span 1;
    grid-row: 1 / 3;
    height: 100%;
  }

  app-preparation {
    display: block;
    margin:0px;
    padding:0px;
  }

  app-ingredient {
    display: block;
    grid-column: 2 / span 1;
    grid-row: 2 / 3;
    margin:0px;
    padding:0px;
  }
}
