#food {
  background: url(../../../assets/img/fond.jpg) no-repeat center, white;
  background-size: 100vh;
  display: flex;
  flex-direction: column;
  height: 92vh;
}

#displayList {
  overflow: auto;
  height: 100vh;
}

#filters {
  background: white;
  padding: 5px 10px 0px 10px;
}

#buttons {
  background: white;
  height: 75px;
}

.normal, .remove {
  background: whitesmoke;
  opacity: 0.8;
  margin: 0px 5px;
  font-size: 1.2em;
  height: auto;
  padding:3px 0px;
}

.remove {
  background: silver;
}

.remove:hover, .normal:hover {
  background: grey;
}

#displayList a {
  margin: 0px 3px;
  width: 100vw;
}

#displayList img {
  padding: 0px;
  margin: 0px;
}

#displayList mat-icon {
  height: 30px;
  width:30px;
  font-size: 30px;
  padding:0px;
  margin: 0px 3px;
}

app-preparation {
  display:none;
}

@media screen and (orientation: portrait) {
  #filters mat-form-field {
    width: 100%;
    font-size: 1.2em;
  }
}

@media screen and (orientation: landscape) {
  #filters mat-form-field {
    width: 48%;
    font-size: 0.80em;
    padding: 0px 2% 0px 0px;
  }
}
