<h1>Mes recettes</h1>
<ng-container  *ngIf="!HasRecipes">
    <mat-card Class="MessageNoRecipe" >
        <mat-card-title>
            Vous n'avez actuellement aucune recette !
        </mat-card-title>
        <mat-card-content>
            Pour créer une recette, effectuez une nouvelle préparation et sauvegardez la en tant que recette.
        </mat-card-content>
        <mat-card-actions>
            <button class="menuButton" id="preparation" mat-stroked-button color="primary" [routerLink]="'/preparation'">Effectuer une préparation</button>
        </mat-card-actions>
        
    </mat-card>
</ng-container>

<ng-container  *ngIf="HasRecipes">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <!-- if node is a categorie -->
            <ng-container *ngIf="!node.recipe" >
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                    <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.name}}
            </ng-container>

            <!-- if node is a recipe -->
            <ng-container *ngIf="node.recipe" >
                    <button mat-icon-button routerLink="/recipe/{{node.recipe.id}}"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="deleteRecipe(node.recipe);"><mat-icon>delete</mat-icon></button>
                    {{node.recipe.name}} 
            </ng-container>
        </mat-tree-node>
    </mat-tree>
</ng-container>

