<h1>Mes recettes</h1>
<table mat-table [dataSource]="recipeList" >
    
    <!-- Name Column -->
    <ng-container matColumnDef="category">
        <td  mat-cell *matCellDef="let recipe" >
            {{recipe.category.name}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
    
        <td  mat-cell *matCellDef="let recipe" >
          <h5   routerLink="/recipe/{{recipe.id}}">{{recipe.name}}</h5> 
          {{recipe.comment}}
        </td>
    </ng-container>

    <tr  mat-row *matRowDef="let row; columns: ['category', 'name'];" ></tr>

</table>
