<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>&nbsp;
      <span>Menu</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/main" (click)="drawer.toggle()" routerLinkActive=true>Accueil</a>
      <a mat-list-item (click)="drawer.toggle(); doNewPreparation();">Effectuer une préparation</a>

      <!-- recettes et repas disponibles que si user connecté -->
      <ng-container *ngIf="(isUserConnected$ | async)">
        <a mat-list-item routerLink="/recipe" (click)="drawer.toggle()">Consulter mes recettes</a>
        <a mat-list-item routerLink="/meal" (click)="drawer.toggle()">Suivre mes repas</a>
      </ng-container>
      
      <a mat-list-item routerLink="/ingredient/2" (click)="drawer.toggle()" routerLinkActive=true>[Test] Ingredient display</a>
      <a mat-list-item routerLink="/">... To complete...</a>
      
      <!-- authentification disponible que si pas d'utilisateurs connectés -->
      <ng-container *ngIf="!(isUserConnected$ | async)">
          <a mat-list-item (click)="drawer.toggle(); userService.authenticate('frederic.pareja.pf1@gmail.com', '');">Se connecter Fred (TEST)</a>
          <a mat-list-item (click)="drawer.toggle(); userService.authenticate('hugues.poumeyrol.pf1@gmail.com', '');">Se connecter Hugues (TEST)</a>
          <a mat-list-item (click)="drawer.toggle(); userService.authenticate('gabriel.wisniewski@gmail.com', '');">Se connecter Gabriel (TEST)</a>
      </ng-container>

      <!-- déconnection disponible que si un utilisateur est connecté -->
      <ng-container *ngIf="(isUserConnected$ | async)">
          <a mat-list-item (click)="drawer.toggle(); userService.disconnect();">Se Déconnecter</a>
      </ng-container>
  </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="fixed-toolbar">
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!drawer.opened">
      <!--  *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>&nbsp;
      <span> My IG Coach</span>

      <!-- affichage du prénom de l'utilisateur connecté -->
      <span *ngIf="(isUserConnected$ | async)">
        &nbsp;({{userConnected.firstName}})
      </span>

    </mat-toolbar>
    <div Class="zoneTravail"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
</mat-sidenav-container>
