.fixed-toolbar {
  height: 100vh;
  background: white;
}

.toolbar {
  height: 6vh;
}

.sidenav {
  height: 100vh;
  background: url(../../../assets/img/alimentation.jpg) no-repeat bottom;
  background-size: 100% 100%;
}

.sidenav a {
  text-shadow: 5px 5px 2px black;
  color: white;
}

.sidenav a:hover {
  text-shadow: none;
}
