#main-menu{
  height: 94vh;
}

.menuButton {
  background:white;
  border-radius: 10px 30px;
  opacity: 0.8;
  box-shadow: 1px 10px grey;
  height: 15%;
  font-size: 1.2em;
}

.menuButton:hover, .menuButton:active {
  box-shadow: none;
  background: grey;
}

@media screen and (orientation: portrait) {
  #main-menu{
    background: url(../../../assets/img/dietetique1.jpg) no-repeat center, white;
    background-size: auto 100vh;
    justify-content: center;
    align-items: center;
  }

  .menuButton {
    width: 80%;
  }
}

@media screen and (orientation: landscape) {
  #main-menu {
    background: url(../../../assets/img/dietetique1.jpg) no-repeat right, white;
    background-size: auto 100vh;
    padding-left: 5%;
    justify-content: center;
    align-items: flex-start;
  }

  .menuButton {
    width: 45%;
  }
}
