<section id="main-menu" fxLayout="column" fxLayoutGap="30px" >

  <button class="menuButton" id="preparation" mat-stroked-button color="primary" [routerLink]="'/preparation'">Effectuer une préparation</button>

  <!-- si un utilisateur est connecté affichage boutons Mes ingrédients et Mon suivi et Se déconnecter-->
  <ng-container *ngIf="(isUserConnected$ | async)">
    <button class="menuButton" mat-stroked-button color="primary" [routerLink]="'/recipe'">Mes recettes</button>
    <button class="menuButton" mat-stroked-button color="primary" [routerLink]="'/notimplemented'">Mon suivi personnel</button>
    <button class="menuButton" mat-stroked-button color="accent" (click)="userService.disconnect();" >Se déconnecter</button>
  </ng-container>

  <!-- Si pas d'utilisateur connecté affichage boutons pour se connecter -->
  <ng-container *ngIf="!(isUserConnected$ | async)">
    <button class="menuButton" id="cnx" mat-stroked-button color="primary" routerLink="/connexion" >Se connecter</button>

    <button class="menuButton" id="account" mat-stroked-button color="accent" [routerLink]="'/notimplemented'">Créer un compte</button>
  </ng-container>

</section>
